body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: #e5e7eb;
}

.container {
    width: 900px;
    margin: 40px auto;
}

.card, .logs-card, .progress-card {
    background: #1e293b;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

select, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: #020617;
    color: white;
    border-radius: 6px;
}

button {
    background: #2563eb;
    cursor: pointer;
}

.progress-bar {
    background: #020617;
    height: 20px;
    border-radius: 10px;
}

#progress {
    background: #22c55e;
    height: 100%;
    width: 0%;
    border-radius: 10px;
}

pre {
    background: black;
    padding: 10px;
    height: 200px;
    overflow: auto;
}

.popup {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
}

.popup-content {
    background: #1e293b;
    padding: 20px;
    width: 400px;
    margin: 150px auto;
    border-radius: 10px;
}

.hidden {
    display: none;
}
